<div class="flex mt-8 items-start gap-8">
  <div class="areakiri w-60 flex-none">
    <div class="photoarea bg-white rounded-box shadow p-4 w-full">
      <img
        [src]="
          'https://api.dicebear.com/7.x/thumbs/svg?seed=' + dataPeg.username
        "
        class="aspect-square w-full rounded-box"
      />
    </div>
    <div class="font-semibold text-2xl mt-4">
      {{ dataPeg.firstName }} {{ dataPeg.lastName }}
    </div>
    <div class="text-gray-500 mt-4">E-mail</div>
    <div class="font-semibold">
      {{ dataPeg.email }}
    </div>
    <div class="text-gray-500 mt-4">Username</div>
    <div class="font-semibold">
      {{ dataPeg.username }}
    </div>
    <button (click)="back()" class="btn btn-info text-white mt-8">Back</button>
  </div>
  <div role="tablist" class="tabs tabs-lifted flex-1">
    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab"
      aria-label="Informasi Basic"
      checked
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-8"
    >
      <div class="grid grid-cols-3 gap-y-4">
        <span class="font-semibold">Nama Depan</span>
        <span class="col-span-2">{{ dataPeg.firstName }}</span>
        <span class="font-semibold">Nama Belakang</span>
        <span class="col-span-2">{{ dataPeg.lastName }}</span>
        <span class="font-semibold">Tanggal Lahir</span>
        <span class="col-span-2">{{ dataPeg.birthDate }}</span>
        <span class="font-semibold">Jenis Kelamin</span>
        <span class="col-span-2">{{
          dataPeg.gender == "P" ? "Laki-Laki" : "Perempuan"
        }}</span>
        <span class="font-semibold">Pendidikan Terakhir</span>
        <span class="col-span-2">{{ dataPeg.lastEducation }}</span>
        <span class="font-semibold">Deskripsi</span>
        <span class="col-span-2">{{ dataPeg.description }}</span>
      </div>
    </div>

    <input
      type="radio"
      name="my_tabs_2"
      role="tab"
      class="tab"
      aria-label="Informasi Pekerjaan"
    />
    <div
      role="tabpanel"
      class="tab-content bg-base-100 border-base-300 rounded-box p-8"
    >
      <div class="grid grid-cols-3 gap-y-4">
        <span class="font-semibold">Gaji</span>
        <span class="col-span-2">{{ gajiPeg }}</span>
        <span class="font-semibold">Status</span>
        <span class="col-span-2">{{ dataPeg.status }}</span>
        <span class="font-semibold">Group</span>
        <span class="col-span-2">{{ dataPeg.group }}</span>
      </div>
    </div>
  </div>
</div>
