<div class="mt-8 flex py-4">
  <div class="textsection flex flex-col flex-1">
    <div class="font-semibold text-2xl">Data Pegawai</div>
    <div class="text-gray-500 rounded-full">
      Berikut adalah list data pegawai Pada PT. XYZ
    </div>
  </div>
  <a routerLink="/employee/addpegawai" class="btn btn-info text-white"
    >Tambah Pegawai</a
  >
</div>
<div class="bg-white rounded-box shadow overflow-hidden mt-4">
  <div class="p-4 pb-0">
    <input
      type="search"
      placeholder="Cari Data"
      class="input input-bordered w-full bg-slate-100 rounded-full"
      (keyup)="triggerSearch($event)"
    />
  </div>
  <div
    *ngIf="sortString.length || searchValue"
    class="text-gray-400 mx-8 text-sm"
  >
    Filter:
    <span *ngIf="searchValue"
      >search=<span class="text-blue-600">{{ searchValue }}</span
      >,</span
    >
    <span *ngFor="let srt of sortString"
      >{{ srt[0] }}=<span
        [class]="srt[1] == true ? 'text-blue-600' : 'text-orange-500'"
        >{{ srt[1] }}</span
      >,</span
    >
    <button
      class="btn btn-link btn-xs text-gray-500 no-underline"
      (click)="clearSort()"
    >
      Clear Sort
    </button>
  </div>
  <div class="overflow-x-auto p-2">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <span
              class="flex gap-x-2 items-center cursor-pointer"
              (click)="sortData('firstName')"
            >
              <span>Nama</span>
              <svg
                fill="#000000"
                width="10px"
                height="10px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17,14 C17.8092996,14 18.2680938,14.9010044 17.836059,15.5493995 L17.7682213,15.6401844 L12.7682213,21.6401844 C12.3950792,22.0879549 11.7283228,22.1178063 11.3160321,21.7297385 L11.2317787,21.6401844 L6.23177872,15.6401844 C5.71367776,15.0184632 6.11213562,14.0891988 6.88682851,14.0060047 L7,14 L17,14 Z M11.2317787,2.3598156 C11.6049208,1.91204508 12.2716772,1.88219371 12.6839679,2.2702615 L12.7682213,2.3598156 L17.7682213,8.3598156 C18.2863222,8.98153675 17.8878644,9.91080124 17.1131715,9.99399528 L17,10 L7,10 C6.19070043,10 5.73190618,9.09899556 6.16394105,8.45060047 L6.23177872,8.3598156 L11.2317787,2.3598156 Z"
                />
              </svg>
            </span>
          </th>
          <th>
            <span
              class="flex gap-x-2 items-center cursor-pointer"
              (click)="sortData('gender')"
            >
              <span>Jenis Kelamin</span>
              <svg
                fill="#000000"
                width="10px"
                height="10px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17,14 C17.8092996,14 18.2680938,14.9010044 17.836059,15.5493995 L17.7682213,15.6401844 L12.7682213,21.6401844 C12.3950792,22.0879549 11.7283228,22.1178063 11.3160321,21.7297385 L11.2317787,21.6401844 L6.23177872,15.6401844 C5.71367776,15.0184632 6.11213562,14.0891988 6.88682851,14.0060047 L7,14 L17,14 Z M11.2317787,2.3598156 C11.6049208,1.91204508 12.2716772,1.88219371 12.6839679,2.2702615 L12.7682213,2.3598156 L17.7682213,8.3598156 C18.2863222,8.98153675 17.8878644,9.91080124 17.1131715,9.99399528 L17,10 L7,10 C6.19070043,10 5.73190618,9.09899556 6.16394105,8.45060047 L6.23177872,8.3598156 L11.2317787,2.3598156 Z"
                />
              </svg>
            </span>
          </th>
          <th>
            <span
              class="flex gap-x-2 items-center cursor-pointer"
              (click)="sortData('group')"
            >
              <span>Pekerjaan</span>
              <svg
                fill="#000000"
                width="10px"
                height="10px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17,14 C17.8092996,14 18.2680938,14.9010044 17.836059,15.5493995 L17.7682213,15.6401844 L12.7682213,21.6401844 C12.3950792,22.0879549 11.7283228,22.1178063 11.3160321,21.7297385 L11.2317787,21.6401844 L6.23177872,15.6401844 C5.71367776,15.0184632 6.11213562,14.0891988 6.88682851,14.0060047 L7,14 L17,14 Z M11.2317787,2.3598156 C11.6049208,1.91204508 12.2716772,1.88219371 12.6839679,2.2702615 L12.7682213,2.3598156 L17.7682213,8.3598156 C18.2863222,8.98153675 17.8878644,9.91080124 17.1131715,9.99399528 L17,10 L7,10 C6.19070043,10 5.73190618,9.09899556 6.16394105,8.45060047 L6.23177872,8.3598156 L11.2317787,2.3598156 Z"
                />
              </svg>
            </span>
          </th>
          <th>
            <span
              class="flex gap-x-2 items-center cursor-pointer"
              (click)="sortData('basicSalary')"
            >
              <span>Salary</span>
              <svg
                fill="#000000"
                width="10px"
                height="10px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17,14 C17.8092996,14 18.2680938,14.9010044 17.836059,15.5493995 L17.7682213,15.6401844 L12.7682213,21.6401844 C12.3950792,22.0879549 11.7283228,22.1178063 11.3160321,21.7297385 L11.2317787,21.6401844 L6.23177872,15.6401844 C5.71367776,15.0184632 6.11213562,14.0891988 6.88682851,14.0060047 L7,14 L17,14 Z M11.2317787,2.3598156 C11.6049208,1.91204508 12.2716772,1.88219371 12.6839679,2.2702615 L12.7682213,2.3598156 L17.7682213,8.3598156 C18.2863222,8.98153675 17.8878644,9.91080124 17.1131715,9.99399528 L17,10 L7,10 C6.19070043,10 5.73190618,9.09899556 6.16394105,8.45060047 L6.23177872,8.3598156 L11.2317787,2.3598156 Z"
                />
              </svg>
            </span>
          </th>
          <th>
            <span
              class="flex gap-x-2 items-center cursor-pointer"
              (click)="sortData('status')"
            >
              <span>Status Pegawai</span>
              <svg
                fill="#000000"
                width="10px"
                height="10px"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17,14 C17.8092996,14 18.2680938,14.9010044 17.836059,15.5493995 L17.7682213,15.6401844 L12.7682213,21.6401844 C12.3950792,22.0879549 11.7283228,22.1178063 11.3160321,21.7297385 L11.2317787,21.6401844 L6.23177872,15.6401844 C5.71367776,15.0184632 6.11213562,14.0891988 6.88682851,14.0060047 L7,14 L17,14 Z M11.2317787,2.3598156 C11.6049208,1.91204508 12.2716772,1.88219371 12.6839679,2.2702615 L12.7682213,2.3598156 L17.7682213,8.3598156 C18.2863222,8.98153675 17.8878644,9.91080124 17.1131715,9.99399528 L17,10 L7,10 C6.19070043,10 5.73190618,9.09899556 6.16394105,8.45060047 L6.23177872,8.3598156 L11.2317787,2.3598156 Z"
                />
              </svg>
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataTabel">
          <td>
            <a
              [routerLink]="'/employee/detail/' + data.id"
              class="flex items-center gap-x-4"
            >
              <div
                class="relative h-12 w-12 overflow-hidden rounded-full border"
              >
                <img
                  className="h-full w-full"
                  [src]="
                    'https://api.dicebear.com/7.x/thumbs/png?size=48&seed=' +
                    data.username
                  "
                />
              </div>
              <div class="flex-1">
                <div class="font-bold">
                  {{ data.firstName }} {{ data.lastName }}
                </div>
                <div class="text-sm opacity-50">{{ data.email }}</div>
              </div>
            </a>
          </td>
          <td>{{ data.gender == "L" ? "Laki-Laki" : "Perempuan" }}</td>
          <td>
            <span class="badge badge-ghost font-semibold">{{
              data.group
            }}</span>
            {{ data.description }}
          </td>
          <td>{{ formatRupiah(data.basicSalary) }}</td>
          <td>{{ data.status }}</td>
          <th>
            <div class="flex items-center gap-x-4">
              <button
                class="btn btn-circle btn-md"
                title="Edit"
                (click)="notifikasi('warning', 'Notifikasi Edit')"
              >
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.0323 13.0209L11.6221 4.49908C11.9802 4.03953 12.1076 3.50822 11.9882 2.96724C11.8847 2.47544 11.5823 2.00783 11.1286 1.65309L10.0224 0.774298C9.05939 0.00837955 7.86559 0.0890025 7.18114 0.967793L6.44099 1.92801C6.34548 2.04814 6.36936 2.22551 6.48874 2.32226C6.48874 2.32226 8.35903 3.82185 8.39882 3.85409C8.52616 3.97503 8.62166 4.13628 8.64554 4.32977C8.68533 4.7087 8.4227 5.06344 8.03272 5.11181C7.84967 5.136 7.67458 5.07956 7.54724 4.97475L5.58145 3.41067C5.48594 3.33891 5.34269 3.35423 5.2631 3.45098L0.591354 9.4977C0.288924 9.87663 0.185461 10.3684 0.288924 10.8441L0.885825 13.4321C0.91766 13.5692 1.03704 13.6659 1.1803 13.6659L3.80666 13.6337C4.28418 13.6256 4.72987 13.4079 5.0323 13.0209ZM8.70977 12.2149H12.9923C13.4102 12.2149 13.75 12.5592 13.75 12.9825C13.75 13.4065 13.4102 13.75 12.9923 13.75H8.70977C8.29194 13.75 7.9521 13.4065 7.9521 12.9825C7.9521 12.5592 8.29194 12.2149 8.70977 12.2149Z"
                    fill="#ff9500"
                  />
                </svg>
              </button>
              <button
                class="btn btn-circle btn-md"
                title="Delete"
                (click)="deletePegawai(data.id)"
              >
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M21.0001 6H3.00006V9C4.10463 9 5.00006 9.89543 5.00006 11V15C5.00006 17.8284 5.00006 19.2426 5.87874 20.1213C6.75742 21 8.17163 21 11.0001 21H13.0001C15.8285 21 17.2427 21 18.1214 20.1213C19.0001 19.2426 19.0001 17.8284 19.0001 15V11C19.0001 9.89543 19.8955 9 21.0001 9V6ZM10.5001 11C10.5001 10.4477 10.0523 10 9.50006 10C8.94778 10 8.50006 10.4477 8.50006 11V16C8.50006 16.5523 8.94778 17 9.50006 17C10.0523 17 10.5001 16.5523 10.5001 16V11ZM15.5001 11C15.5001 10.4477 15.0523 10 14.5001 10C13.9478 10 13.5001 10.4477 13.5001 11V16C13.5001 16.5523 13.9478 17 14.5001 17C15.0523 17 15.5001 16.5523 15.5001 16V11Z"
                    fill="#DB3937"
                  />
                  <path
                    d="M10.0681 3.37059C10.1821 3.26427 10.4332 3.17033 10.7825 3.10332C11.1318 3.03632 11.5597 3 12 3C12.4403 3 12.8682 3.03632 13.2175 3.10332C13.5668 3.17033 13.8179 3.26427 13.9319 3.37059"
                    stroke="#DB3937"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="toolstable flex py-3 px-5 border-t bg-slate-100">
    <select
      class="select select-bordered select-sm flex-none w-20"
      (change)="onAdjustSize($event)"
    >
      <option selected>10</option>
      <option>25</option>
      <option>50</option>
      <option>75</option>
      <option>100</option>
    </select>
    <div class="flex-1 flex justify-center">
      <div class="join border">
        <button class="btn btn-sm join-item" (click)="prevPage()">Prev</button>
        <button *ngIf="curPage < 2" class="btn btn-sm bg-blue-300 join-item">
          {{ curPage }}
        </button>
        <button *ngIf="curPage > 1" class="btn btn-sm join-item">
          {{ curPage - 1 }}
        </button>
        <button *ngIf="curPage > 1" class="btn btn-sm bg-blue-300 join-item">
          {{ curPage }}
        </button>
        <button *ngIf="curPage < 2" class="btn btn-sm join-item">
          {{ curPage + 1 }}
        </button>
        <button *ngIf="curPage < 2" class="btn btn-sm join-item">
          {{ curPage + 2 }}
        </button>
        <button *ngIf="curPage > 1" class="btn btn-sm join-item">
          {{ curPage + 1 }}
        </button>
        <button class="btn btn-sm join-item" (click)="nextPage()">Next</button>
      </div>
    </div>
    <div class="moo w-20"></div>
  </div>
</div>
<div class="h-40 w-full"></div>
