<div class="mt-8 flex py-4">
  <div class="textsection flex flex-col flex-1">
    <div class="font-semibold text-2xl">Tambah Data Pegawai</div>
    <div class="text-gray-500">
      Silahkan isi informasi lengkap pegawai dibawah ini
    </div>
  </div>
</div>
<div class="divider lg:my-8 my-4 opacity-50"></div>
<form class="mt-4" [formGroup]="addPegawaiForm" (ngSubmit)="onSubmit()">
  <div class="grid md:grid-cols-2 max-md:gap-y-3">
    <div class="font-semibold">Informasi Basic</div>
    <div class="formEntry flex flex-col gap-y-4">
      <div class="grid grid-cols-2 gap-x-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Nama Depan</span>
          </div>
          <input
            type="text"
            placeholder="Nama Depan"
            formControlName="firstName"
            required
            class="input input-bordered w-full"
          />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Nama Belakang</span>
          </div>
          <input
            type="text"
            placeholder="Nama Belakang"
            formControlName="lastName"
            required
            class="input input-bordered w-full"
          />
        </label>
      </div>
      <div class="grid grid-cols-2 gap-x-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Jenis Kelamin</span>
          </div>
          <select
            class="select select-bordered"
            required
            formControlName="gender"
          >
            <option value="L">Laki-Laki</option>
            <option value="P">Perempuan</option>
          </select>
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Tanggal Lahir</span>
          </div>
          <input
            type="date"
            placeholder="Tanggal Lahir"
            formControlName="birthDate"
            required
            class="input input-bordered w-full"
            [max]="todayDate"
          />
        </label>
      </div>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Pendidikan Terakhir</span>
        </div>
        <select
          class="select select-bordered"
          required
          formControlName="lastEducation"
        >
          <option value="SD">SD</option>
          <option value="SMP">SMP</option>
          <option value="SMA">SMA</option>
          <option value="S1">S1</option>
          <option value="S2">S2</option>
          <option value="S3">S3</option>
        </select>
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Deskripsi Pegawai</span>
        </div>
        <textarea
          class="textarea textarea-bordered h-36"
          placeholder="Bio"
          required
          formControlName="desc"
        ></textarea>
      </label>
    </div>
  </div>
  <div class="divider opacity-50 my-8"></div>
  <div class="grid md:grid-cols-2 max-md:gap-y-3">
    <div class="font-semibold">Informasi Akun</div>
    <div class="formEntry grid grid-cols-2 gap-4">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Username</span>
        </div>
        <input
          type="text"
          placeholder="Username"
          formControlName="username"
          required
          class="input input-bordered w-full"
        />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Alamat Email</span>
        </div>
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
          required
          class="input input-bordered w-full"
        />
      </label>
    </div>
  </div>
  <div class="divider opacity-50 my-8"></div>
  <div class="grid md:grid-cols-2 max-md:gap-y-3">
    <div class="font-semibold">Management Pegawai</div>
    <div class="formEntry flex flex-col gap-y-4">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Salary</span>
        </div>
        <input
          type="number"
          placeholder="Salary"
          formControlName="basicSalary"
          required
          class="input input-bordered w-full"
        />
      </label>
      <div class="grid grid-cols-2 gap-x-4">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Status</span>
          </div>
          <select
            class="select select-bordered"
            required
            formControlName="status"
          >
            <option selected>Aktif</option>
            <option>Non-Aktif</option>
            <option>Berhenti</option>
          </select>
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Group</span>
          </div>
          <select
            class="select select-bordered"
            required
            formControlName="group"
          >
            <option selected>Umum</option>
            <option>IT</option>
            <option>Marketing</option>
            <option>Konsultan Hukum</option>
            <option>Front Office</option>
          </select>
        </label>
      </div>
    </div>
  </div>
  <div class="divider opacity-50 my-8"></div>
  <div class="flex justify-end gap-x-4 pb-20">
    <a routerLink="/employee" class="btn">Cancel</a>
    <button type="submit" class="btn btn-info text-white">Simpan Data</button>
  </div>
</form>
