<div class="hero min-h-80 py-20">
  <div class="hero-content flex flex-col text-center">
    <h1 class="text-5xl font-bold">EmployeeApp</h1>
    <p class="py-6 max-w-md">
      Selamat datang di aplikasi pengelolaan pegawai PT. XYZ, kamu dapat
      mengelola data pegawai dan management pegawai dari aplikasi ini.
    </p>
    <div class="flex gap-x-2">
      <a routerLink="/employee" class="btn btn-info text-white">Data Pegawai</a>
      <a routerLink="/login" class="btn btn-info text-white">Login</a>
    </div>
    <!-- <div class="flex flex-col gap-y-4 mt-8">
      <p class="font-semibold text-lg">Sekilas Data</p>
      <div
        class="stats grid grid-cols-4 stats-vertical lg:stats-horizontal shadow"
      >
        <div class="stat">
          <div class="stat-title">Total Pegawai</div>
          <div class="stat-value">{{ statistik.totalPegawai }}</div>
          <div class="stat-desc">Per 2024</div>
        </div>
        <div class="stat">
          <div class="stat-title">Pegawai Tetap</div>
          <div class="stat-value">{{ statistik.pegawaiTetap }}</div>
          <div class="stat-desc">Per 2024</div>
        </div>

        <div class="stat">
          <div class="stat-title">Pegawai Kontrak</div>
          <div class="stat-value">{{ statistik.pegawaiKontrak }}</div>
          <div class="stat-desc">Per 2024</div>
        </div>

        <div class="stat">
          <div class="stat-title">Pegawai dengan Sarjana</div>
          <div class="stat-value">{{ statistik.pegS1 }}</div>
          <div class="stat-desc">Per 2024</div>
        </div>
      </div>
    </div> -->
  </div>
</div>
