<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mt-20">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2
      class="mt-10 text-center text-2xl font-semibold leading-9 tracking-tight text-gray-900"
    >
      Login
    </h2>
  </div>

  <div
    class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm bg-white shadow-md rounded-box p-5"
  >
    <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Email</span>
        </div>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="input input-bordered w-full"
        />
      </label>
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Password</span>
        </div>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="input input-bordered w-full"
        />
      </label>
      <button type="submit" class="btn btn-neutral w-full" [disabled]="loading">
        {{ loading ? "Mengautentikasi..." : "Login" }}
      </button>
    </form>
  </div>
</div>
